<% layout('layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center mb-3">New Campground</h1>
    <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
        <form action="/campgrounds" method="POST" class="validated-form" enctype="multipart/form-data" novalidate>
            <!-- <div class="row row-cols-1 row-cols-md-2 g-4"> -->
                <!-- <div class="col"> -->
                        <div class="mb-3">
                            <label class="form-label" for="title"><b>Title</b></label>
                            <input class="form-control" type="text" id="title" name="campground[title]" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="location"><b>Location</b></label>
                            <input class="form-control" type="text" id="location" name="campground[location]" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="price"><b>Campground Price</b></label>
                            <div class="input-group">
                                <span class="input-group-text" id="price-label">$</span>
                                <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                                aria-describedby="price-label" name="campground[price]" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="description"><b>Description</b></label>
                            <textarea class="form-control" type="text" id="description" name="campground[description]" required></textarea>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="image" class="form-label"><b>Upload Images</b></label>
                            <input class="form-control" type="file" id="image" name="image" multiple>
                        </div>
                <!-- </div> -->
                <!-- <div class="col"> -->
                    <div class="mb-3"><b>Property amenities</b></div>
                    <div class="mb-3">Does this campground offer any of the following?</div>
                        <!-- <div class="mb-3 card"> -->
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" value="true" id="freeParking" name="campground[freeParking]">
                                <label class="form-check-label" for="freeParking">Free Parking</label>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" value="true" id="freeInternet" name="campground[freeInternet]">
                                <label class="form-check-label" for="freeInternet">Free Internet</label>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" value="true" id="lockersStorage" name="campground[lockersStorage]">
                                <label class="form-check-label" for="lockersStorage">Lockers / storage</label>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" value="true" id="childrenActivities" name="campground[childrenActivities]">
                                <label class="form-check-label" for="childrenActivities">Children Activities (Kid / Family Friendly)</label>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" value="true" id="outdoorEquipment" name="campground[outdoorEquipment]">
                                <label class="form-check-label" for="outdoorEquipment">Kids' outdoor play equipment</label>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" value="true" id="petsAllowed" name="campground[petsAllowed]">
                                <label class="form-check-label" for="petsAllowed">Pets Allowed ( Dog / Pet Friendly )</label>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" value="true" id="laundry" name="campground[laundry]">
                                <label class="form-check-label" for="laundry">Self-serve laundry</label>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" value="true" id="Pool" name="campground[Pool]">
                                <label class="form-check-label" for="Pool">Pool</label>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" value="true" id="tennisCourt" name="campground[tennisCourt]">
                                <label class="form-check-label" for="tennisCourt">Tennis court</label>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" value="true" id="barLounge" name="campground[barLounge]">
                                <label class="form-check-label" for="barLounge">Bar / lounge</label>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" value="true" id="canoeing" name="campground[canoeing]">
                                <label class="form-check-label" for="canoeing">Canoeing</label>
                            </div>
                        <!-- </div> -->
                        <div class="mb-3 d-grid gap-2">
                            <button class="btn btn-success">Add Campground</button>
                        </div>
                    </div>
                <!-- </div> -->
        </form>
        <!-- <a href="/campgrounds">All campgrounds</a> -->
            <!-- </div>
        </div> -->
    <!-- </div> -->
</div>